absl-py
attrs
cffi
contourpy
cryptography
cycler
flatbuffers
fonttools
jax
jaxlib
kiwisolver
matplotlib
ml_dtypes
numpy
opencv-contrib-python
opt_einsum
packaging
pillow
protobuf
pycparser
pyparsing
python-dateutil
scipy
sentencepiece
six
sounddevice
svg.path3
